extends base

block append head
  script(defer src='/js/bundle.js')
  link(rel="stylesheet", href="/css/form.css")
block content
  form#updateDate.hidden
    .wrap-input100.validate-input(data-validate="Enter whether there is holiday or not")

      input#name.input100(type="date", name="holiday", placeholder="Holiday?", value = "")
      span.focus-input100
      span.symbol-input100
        i.fa.fa-envelope(aria-hidden="true")
    .container-login100-form-btn.hidden
      button.login100-form-btn Update Attendance 

  button.btn.btn--green.flask
    a.btn--green(href=`http://127.0.0.1:5000/?studentId=${subjects[0].user}`) Predict
  main.main
    .card-container
      if subjects.length>0
        each subject in subjects
          .card
            .card__header
              .card__picture
                .card__picture-overlay &nbsp;
                img.card__picture-img(src=`/img/subjects/${subject.Image}`, alt=subject.subject)
              h3.heading-tertirary
                a(href=`/getAttendanceWithDates/${subject._id}`).btn--green
                  span= subject.subject

            .card__details
              h2.card__sub-heading= Details
              p.card__text= `Total Lectures: ${subject.totalNumLecture}`
              .card__data
                img.card__icon(src='/img/immigration.png')
                span= `Attendance : ${subject.attendancePercent}%`

              - let Presentcount = 0;
              - let Absentcount = 0;
              - let holidayCount = 0;

              each record in subject.attendanceRecords
                if record.isPresent
                  - Presentcount++;
                else
                  - Absentcount++;

                if record.holiday
                  - holidayCount++;

              .card__data
                img.card__icon(src='/img/swipe-up.gif')
                span= `Present: ${Presentcount} Lec`

              .card__data
                img.card__icon(src='/img/absent.png')
                span= `Absent: ${Absentcount} Lec`

              .card__data
                img.card__icon(src='/img/sun-lounger.gif')
                span= `Holiday: ${holidayCount} hurray`

              .card__data
                button.btn.btn--green 
                  a.btn--green(href=`/markAttendance/${subject._id}`) Mark

              .card__data   
                button.btn.btn--green.update
                  a.btn--green.link(href=`${subject._id}`) Update
              .card__data 
                a.delete(href=`/deleteSubject/${subject._id}`)
                  img.deleteGif(src="/img/bin-file.gif", alt="")
                    




          - Presentcount = 0;
          - Absentcount = 0;
          - holidayCount = 0;

      else 
        h1 No subject Present Go and add the subjects😎😎


      script.
        let updateButtons = document.querySelectorAll(".update");
        let form = document.getElementById("updateDate");
        let dateInput = document.getElementById("name");

        updateButtons.forEach((updateButton) => {
          updateButton.addEventListener('click', (e) => {
            e.preventDefault();
            form.classList.remove("hidden")
            let subjectId = updateButton.closest('.card').querySelector('.link').getAttribute("href");
            //- let date = prompt("Enter the date (yyyy-mm-dd)");
            let date;
            form.addEventListener('submit',(e)=>{
              e.preventDefault()
              date = new Date(dateInput.value).toISOString().split('T')[0];
              window.location.href = `/updateAttendance/${subjectId}/${date}`;
            })
          });
        });

        


